/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 7, 2022, 2:37:02 PM
    Author     : ayik1
*/

body {
  display: block;
  background-color: white; 
  font-size: 10pt;
  font-family: sans-serif;
  color: #3b3b77;
  padding: 0pt;
  margin: 0pt;
  text-align: center;
}


h1 {
 font-size: 20px
}

h2 {
  text-align: left;
  font-size: 15pt;
  margin: 0px; 
}

h3{
  font-size: 25px;
}

h4
{
  font-size: 10pt; 
  color: black; 
  text-align: center;
  font-style: italic;
}

p {
  text-align: left;
  font-size: 15pt;
}

header {
  display: flex;
  background-color: #e6fae6;
  justify-content: space-around; 
  align-items: center; 
  margin: 0;
  padding:0; 
  height: 70px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100; 
}

.divAboutme{
  height: 280px;
  background-color: white;
}
.divHeader
{
  height: 40px;
  border-left: 0px solid;
  border-right: 0px solid;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 15px;
}


.rowTable{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 100%;  
}

.columnTable{
  flex: 20%;
}

li, a, button{
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 13pt;
  color:#097969;
  text-decoration: none;
}

.nav_link{
  list-style: none;
}

.nav_link li{
  display: inline-block;
  padding: 0 20px;
}

.nav_link li a{
  transition: all 0.3s ease 0s; 
}

.nav_link li a:hover {
  background-color: #088F8F;
  color: white;
  text-decoration: none;
}

button{
  padding: 8px 12px;
  font-size: 15px;
  border:none; 
  border-radius: 50px; 
  cursor: ponter; 
  transition: all 0.3s ease 0s;
  background-color: #3b3b77;
  color: white; 
}

.image
{
  height: 200px; 
  width: 200px; 
  margin: 20px 900px 0 3px; 
  white-space: nowrap;
}
table,
th,
td {
  object-fit: contain;
  background: white;
  border: 3px solid white; 
  margin-left: 10px; 
  margin-right: 10px; 
  padding: 20px;
  text-align: center;
}

th,
td {
  border-color: #088F8F;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.columns{
  display: flex; 
  background-color: rgb(73, 142, 226);
  gap: 2rem;
}

.columns > *{
  flex-shrink: 1; 
}

.img1
{
  object-fit: contain;
  aspect-ratio: 2/1;
}

.row1 {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
}

.column1 {
  flex: 20.33%;
  padding: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#map {
  height: 500px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.footer
{
  font-size: 20px;
  color: green; 
}
@media screen and (min-width: 600px) and (max-width: 780px){
  body {
      background-color: #FFF8DC;
  }

}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    font-size: 10px;
    color: rgb(55, 123, 192); 
  }

  table,th,td
  {
    white-space:wrap;
  }

  .row1 {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    width: 100%;
    justify-content: space-around;
  }
}

